div,input{
    padding:5px;
    font-size:1em;
}

input{
    width:95%;
}

body{
    text-align: center;
    font-family:verdana;
}

button {
    border:0;
    border-radius:0.3rem;
    line-height:2.4rem;
    font-size:1.2rem;
    width:100%;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
}

.buttons-container {
    display: flex;
    justify-content: center;
}

.gauge-display {
    flex-grow: 2;
}

.buttons-list {
    min-width: 260px;
    flex-grow: 1;
}

.sensor1 {
    background-color: #990E10;
}

.sensor2 {
    background-color: #0A6A1B;
}

.differential {
    background-color: #0174DF;
}

.goto {
    background-image: linear-gradient(to left, #ff0000, #0000ff);
}

.reset {
    background-image: linear-gradient(to left, #ff6666, #6666ff);
}